{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

	</head>

	<body class="leading-normal tracking-normal font-sans">
		<div class="md:container md:mx-auto p-8">

            <button class="flex h-full bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow inline-flex items-center" onclick="location.href = '/';">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                </svg>                  
                <span>Go Back</span>
            </button>

            <div class="flex gap-x-8 h-fit py-8">
                <form action="/query/" method="POST" id="michelin-search" class="w-full">   
                    {% csrf_token %}
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </div>
                        {{ form }}
                        <!-- <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Restaurants..." required> -->
                        <button type="button" onclick="submitForm()" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 ">Search</button>
                    </div>
                </form>
            </div>
            

            <div class="p-4">
                <h1 class="text-2xl text-blue-600 font-bold">Search Result</h1> 
                <p class="text-gray-400">Showing search result for: {{ search }}</p>
            </div>
            

            <div class="overflow-x-auto relative">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Restaurant
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Restaurant Name
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for res in result %}
                        <tr class="bg-white border-b" id="{{ res.film.value }}">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                {{ res.res.value }}
                            </th>
                            <td class="py-4 px-6 whitespace-nowrap">
                                {{ res.restaurantName.value }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

		</div>
	</body>
</html>